.reveal img {
    border: medium none !important;
    border-radius: 2pt !important;
}

.reveal .inline-block {
    display: inline-block;
    vertical-align: top;
}

.reveal .nowrap {
    white-space: nowrap;
}

.reveal .x3 {
    width: 30%;
}

.reveal .x2 {
    width: 45%;
}

.reveal ul > li {
    margin: 10px 0;
}

.reveal .float-center {
    position: absolute;
    top: 20%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}
