extends ./layout.pug
include ./mixin.pug

//-block latex_settings
  //-| \( 
  //-|   \newcommand{\abs}[1]{\left\lvert #1 \right\rvert}
  //-|   \newcommand{\norm}[1]{\left\lVert #1 \right\rVert}
  //-|   \newcommand{\floor}[1]{\left\lfloor #1 \right\rfloor}
  //-|   \newcommand{\ceil}[1]{\left\lceil #1 \right\rceil}
  //-|   \newcommand{\argmax}{\operatorname{arg\,max}}
  //-| \)

block slides
  section
    h1 Lazer Projector

  section
    +slide
      h2 Principle of Lazer Projector

    +slide
      h3 Video
      iframe(width="600" height="480" data-autoplay
        src="https://www.youtube.com/embed/Dx6HQ6KuvfU" frameborder="0" allowfullscreen)

    +slide
      h3 Basic Principle
      img(width="30%" src="img/lazer1.jpg")
      p Control the lazer beam to "draw" images.

    +slide
      h3 Structure
      img(width="50%" src="img/lazer_struct.gif")

    +slide
      h3 Structure
      img(width="60%" src="img/lazer_struct2.jpg")

    +slide
      h3 Galvo Motor
      p Motor with mirror to controller the deflection of laser beams.
      p Need 2 Galvo for a 2D image.

    +slide
      h3 Galvo Motor
      img(width="60%" src="img/galvo1.jpg")

    +slide
      h3 Galvo Motor
      img(width="60%" src="img/galvo2.jpg")

    +slide
      h3 Galvo Motor
      ul
        li Need to be fast and precise.
        li Typically 10kpps.
        li The faster the galvo, the smoother the projected image.

    +slide
      h3 Track planning
      img(width="80%" src="img/track.png")

    +slide
      img(width="80%" src="img/linux.jpg")

    +slide
      h3 Architecture
      img(width="80%" src="img/lazer_arch.jpg")

    +slide
      h3 Architecture
      img(width="80%" src="img/lazer_arch2.png")


